<div class="card varpurp1" style="border-radius:15px; padding:1rem">
    <p></p>

    <a style="font-weight:bold; font-size:2rem" href="/topic/{{id}}">Topic: {{topic}}</a>
    <div class="card-content hoverable varblack" style=" border-radius:15px; padding:1rem;" >
        {{content}}
        <span class="card-title activator varblue"><i class="material-icons right"></i></span>
        <p>Date: {{format_date date_created}}</p>
        <p>Posted By: {{user.name}}</a></p>
    </div>
</div>